.FigmaIcon {
  width: auto !important;
  height: 2.4rem !important;
  max-width: auto !important;
  max-height: 2.4rem !important;
  min-width: auto !important;
  min-height: 2.4rem !important;
}

.AddIcon,
.DeleteIcon,
.RemoveIcon {
  width: 2rem !important;
  height: 2rem !important;
  max-width: 2rem !important;
  max-height: 2rem !important;
  min-width: 2rem !important;
  min-height: 2rem !important;
}

.TrashIcon,
.EditIcon,
.CloseIcon {
  width: auto !important;
  height: 1.6rem !important;
  max-width: auto !important;
  max-height: 1.6rem !important;
  min-width: auto !important;
  min-height: 1.6rem !important;
}

.HeartIcon {
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  width: 10.8rem !important;
  height: 9.6rem !important;
  max-width: 10.8rem !important;
  max-height: 9.6rem !important;
  min-width: 10.8rem !important;
  min-height: 9.6rem !important;
}

.ErrorIcon,
.SuccessIcon {
  width: 7.2rem;
  height: 7.2rem;
  max-width: 7.2rem;
  max-height: 7.2rem;
  min-width: 7.2rem;
  min-height: 7.2rem;
}
