.delete__wrapper {
  padding: 0rem 2.4rem 0rem 0.4rem;

  width: fit-content;
  height: 100%;

  gap: 0.4rem;

  background: var(--color-bg-secondary);
  border-radius: 3.6rem;

  &-icon {
    width: 2.8rem;
    height: 2.8rem;
  }

  span {
    color: var(--color-text);
    font-weight: var(--font-weight-black);
    text-align: left;
  }
}
